<div class="main-contents-name">Connection Glaph</div>
<div class="col-xs-12">
  <% if @stats_hash['routing']['min_version'].to_i < 65792 #v1.1.0 %>
    <div class="restriction-panel restriction-panel">
      <div class="restriction-msg restriction-msg">
        You can Not use this function<br>with this old version's ROMA.
      </div>
    </div>
  <% end %>
  <form action='show' method='get'>
    <table>
      <tr>
        <td><font size='5'>start date</font></td>
        <td>:<input type="datetime-local" name="start_date" step="1" value="<%= @default_start_time %>" required></td>
      <tr>
        <td><font size='5'>end date</font></td>
        <td>:<input type="datetime-local" name="end_date" step="1" value="<%= @current_time %>" required></td>
      </tr>
      <tr>
        <td></td>
        <td align="right">
          <div class="button-area">
            <input type="submit" value="Make Glaph" class="btn btn-info" id="make-glaph-button">
            <%= image_tag "ajax-loader.gif", :class=>"access-loader" %>
          </div>
        </td>
    </table>
  </form>
</div>
