<div class="main-contents-name">Connection Glaph</div>

<div class="col-xs-12">
<% if false %>
  <%= @conn_count_data.class %>
  <% @conn_count_data.each{|data| %>
      <%= "#{data}" %>
      <br>
    <% }
  %>
<% end %>
</div>
<div class="col-xs-12">
<!-- connection count(line chart) -->
<div class="col-xs-12">
  <div id="graphdiv2" style="width:500px; height:300px;"></div>
</div>
</div>

