<div class="main-contents-name">Connection Glaph</div>

<div class="col-xs-8">
<!-- connection count(line chart) -->
  <div id="line-chart" style="width:500px; height:300px;"></div>
</div>
<div class="col-xs-4">
  <div id="label-position"></div>
</div>

<!-- connection source(pie glaph) -->
<div class="col-xs-12">
  <div id="pie-chart"></div>
</div>

