<!-- version Check Modal -->
<div class="modal fade" id="version-modal" tabindex="-1" role="dialog" aria-labelledby="versionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="versionModalLabel"> Your ROMA version is Not supported.</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>Gladiator will support only after ROMA v1.0.0.</li>
          <li>You can use Gladiator with after v0.8.11 narrowly.<br>
              But some functions are restricted.</li>
          <li>We strongly recommend to update ROMA.</li>
        </ul>
      </div>
      <div class="modal-footer">
        Continue to use Gladiator?
        <%= form_tag :action => 'auth' do %>
          <%= hidden_field_tag :username, '', :id => 'loginUserName' %>
          <%= hidden_field_tag :password, '', :id => 'loginPassword' %>
          <% if flash[:referer] %>
            <%= hidden_field_tag :referer, flash[:referer] %>
          <% end %>

          <button class="btn btn-primary">YES</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
        <% end %>
      </div>
    </div>
  </div>
</div><!-- End of repetition Check Modal -->

<!-- plugin Check Modal -->
<div class="modal fade" id="plugin-modal" tabindex="-1" role="dialog" aria-labelledby="pluginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="pluginModalLabel">Missing plugin for GUI.</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>Gladiator can NOT find 'plugin_gui.rb'.</li>
          <li>Please check ROMA's plugin setting(config.rb).</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div><!-- End of repetition Check Modal -->
