html, body {
  height: 100%;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:#5d5d5d;
}

.wrap-main .container {
  width: auto;
}

.wrap-main {
  min-height: 100%;
  height: auto;
  height: 100%;
  margin: 0 auto -50px;
}

.header-subtitle {
  font-size: 18px;
}

.param-detail-list {
  margin-bottom: 100px;
}

#wrap-without-footer {
  min-height: 100%;
  height: auto;
  margin: 0 auto -50px;
  padding: 0 0 50px;
  min-width: 1275px;
}

#footer {
  height: 50px;
  clear: both;
  background-color: #a62316;
  color: #ffffff;
  min-width: 1275px;
}

#footer .container {
  text-align: center;
  padding-top: 15px;
}

.glavatar {
  width:35px;
  border-radius:100px;  
  margin: 7px 0px;
}

.username {
  color: #ffffff;
  margin: 14px;
  font-size: 16px;
}

.nav.navbar-nav .logout-icon{
  padding: 15px 0;
  z-index: 2;
}

.nav.navbar-nav .logout-icon-pink{
  padding: 15px 0;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.nav.navbar-nav a {
  padding: 0;
}

.nav.navbar-nav .logout-icon:hover img{
  filter: alpha(opacity=0);
  -webkit-filter:opacity(0%); /** Chrome**/
  -moz-opacity:0;  /** FF **/
  -khtml-opacity: 0; /* Safari 1.x */
  opacity:0;
}

/**-----------------------------------------
  side bar
-------------------------------------------- **/
.side-bar .list-group-item {
  background-color: #f9f9f9;
}

/**-----------------------------------------
  contents-name
-------------------------------------------- **/
.main-contents-name {
  font-size: 36px;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 5px;
}

.sub-contents-name {
  font-size: 24px;
  text-decoration: underline;
}

.small-contents-name {
  font-size: 18px;
  text-decoration: underline;
}

.colon {
  font-size: 24px;
}

/**-----------------------------------------
  table sorter
-------------------------------------------- **/
.tablesorter-default .tablesorter-filter {
  margin: -5px;
}

.tablesorter-default {
  font: 15px/18px Arial, Sans-serif;
}

.tablesorter-default thead .tablesorter-headerAsc {
  border-bottom: #428bca 2px solid;
}

.tablesorter-default thead .tablesorter-headerDesc {
  border-bottom: #428bca 2px solid;
}

.tablesorter .tablesorter-filter.disabled {
  display:none;
}

.tablesorter-header-inner {
  color:#5d5d5d;
}

/**---------------------------------------------
  Modal
------------------------------------------------**/
.modal-body {
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
  font-family: 'Arial';
}

#release-modal {
  text-align: left;
}

.modal-header {
  background-color: #fce9e7;
}

/**---------------------------------------------
  Past version support
------------------------------------------------**/
.restriction-panel {
  background: rgba(0,0,0,0.7);
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.restriction-msg {
  color: #eeeeee;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 15%;
  left: 15%;
  right: 15%;
  bottom: 15%;
  filter: alpha(opacity=75);
    -moz-opacity:0.75;
    opacity:0.75;
  white-space: nowrap;
}

.restriction-msg-log {
  position: absolute;
  top: 25%;
  left: 3%;
  right: 3%;
  bottom: 15%;
  font-size: 14px;
}

.access-loader {
  display: none;
}
