/**-----------------------------
  Tabs
-------------------------------- **/
#tabs ul {
  overflow:hidden;
  list-style:none;
  border-bottom:1px
  solid #cccccc;
}

#tabs li {
  float:left;
  display:inline;
  margin-left:10px;
  padding:5px;
  border:1px
  solid #cccccc;
  border-bottom:none;
  border-radius:10px 10px 0 0;
  background-color:#eeeeee;
}

#tabs li.active {
  background-color:#fff;
}

#tabs li a { padding:5px 10px; color:#777777; letter-spacing:-1px; outline:none; text-decoration:none; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;} /** font **/

/**-----------------------------
  Table
-------------------------------- **/
.tablesorter-filter {
  min-width: 80px;
}

.tablesorter-default th, .tablesorter-default thead td {
  background-color: #dddddd;
  font-size: 13px;
}

.panel {
  background-color: transparent;
}

/**---------------------------------------------
 *   Past version support
 *   ------------------------------------------------**/
.restriction-panel-logs {
  min-height: 180px;
}

.restriction-msg-logs {
  position: absolute;
  top: 25%;
}
