<div class="main-contents-name">Log</div>
<div class="col-xs-12">
  <% if past_version?(@stats_hash) %>
    <div class="restriction-panel restriction-panel-logs">
      <div class="restriction-msg restriction-msg-logs">
        You can Not use this function<br>in this ROMA version.
      </div>
    </div>
    <button class="btn btn-info" disabled>Get Logs</button>
  <% elsif @stats_hash['routing']['min_version'].to_i < 65792 #v1.1.0 %>
    <a href="show_logs" type="button" class="btn btn-info" id="logs-button">
      <%= image_tag "ajax-loader.gif", :class=>"access-loader" %>
      <span id="log-button-msg">Get Logs</span>
    </a>
  <% else # after v1.1.0 %>
    <form action='show_logs' method='get'>
      <table>
        <tr>
          <td><font size='5'>start date</font></td>
          <td>:<input type="datetime-local" name="start_date" step="1" value="<%= @default_start_time %>" required></td>
        <tr>
          <td><font size='5'>end date</font></td>
          <td>:<input type="datetime-local" name="end_date" step="1" value="<%= @current_time %>" required></td>
        </tr>
        <tr>
          <td></td>
          <td align="right">
            <div class="button-area">
              <input type="submit" value="Get Logs" class="btn btn-info" id="get-logs-button">
              <%= image_tag "ajax-loader.gif", :class=>"access-loader" %>
            </div>
          </td>
      </table>
    </form>
  <% end %>
</div>
